li{
    list-style-type: none;
}

.divListProducts{
    display: flex;
    width: 33vw;
    margin-left: 20px;
    margin-top: 20px;
    
}

.buttonProduct{
    min-width: 120px;
    max-width: 120px;
    min-height: 60px;
    max-height: 60px;
}

.productsCharacteristics{
    display: flex;
    flex-direction: column;
    
}
